# OS files
.DS_Store

# Vendor files
/node_modules
/vendor

# Build files
/index.dev.mjs

# Playground files
/playground/public/media/*
/playground/storage/accounts/*
/playground/storage/cache/*
/playground/storage/sessions/*
